body {
  margin: 0;
  padding: 0;
  background: black;
  background-size: cover;
  font-family: sans-serif;
}


#menu{
  width: 65%;
  height: 40px;
  float: right;
  margin-top: 20px;
}

#menu ul li{
  list-style: none;
  display: inline-block;
  margin-top: 10px;
}

#menu ul li .active_now{
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  background: #fcfcfca9;
  color: #fff;
  border-radius: 5px 5px 0px 0px;
}

#menu ul li .active{
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
}

#menu ul li .active:hover{
  background: #fcfcfca9;
  color: #fff;
  border-radius: 5px 5px 0px 0px;
}


header{
  background: #ec6905c5;
  width: 100%;
  height: 75px;
  box-shadow: 0px 0px 30px #A4a4a4;
  border-bottom-style: solid;
  border-bottom-color: #585858;
  border-bottom-width: 5px;
}

#encabezado{
  width: 80%;
  height: 30px;
  margin: auto;
  font-size: 25px;
  color: #fff;

}

.avatar {
  margin-top: 5px;
  border-radius: 50%;
}

.footer {
  margin: 0%;
  padding: 1%;
  position: relative;
  left: 0;
  width: 100%;
  background-color: #ec6905c5;
  color: white;
  text-align: center;
  bottom: -50px;
}


.pagination {
  bottom: -10px;
}


.card {
  padding: 16px;
  text-align: center;
  margin-top: 10%;
  border: solid 2px;
}


.container-pag {
  position: relative;
  height: 10em;
}
.container-pag ul {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.btn-agregar {
  display:block;
  width:70px;
  height:70px;
  color: #fff;
  position: fixed;
  right:20px;
  bottom:20px;
  border-radius:50%;
  line-height:80px;
  text-align:center;
  z-index:999;
}
